.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-size: cover;
    background-position:center ;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 2rem;
    gap: 2rem;
    flex-direction: column;
    min-width: 100vh;
    background-attachment: fixed;
    background-image: url("../../public/space.jpg");
  }

  .controls {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .input {
    width: 300px;
    height: 4rem;
    padding: 10px;
    border-radius: 10px;
  }
  
  .buttonSearch {
    width: 122px;
    height: 40px;
    height: 3rem;
    border-radius: 8px;
    background-color: rgb(37, 14, 130);
    color: white;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  
  .buttonSearch:hover {
    background-color: rgb(67, 46, 184);
    color: lightgray;
  }
  
  .buttonReset {
    width: 122px;
    height: 3rem;
    border-radius: 8px;
    background-color: rgb(77, 9, 96);
    color: white;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  
  .buttonReset:hover {
    background-color: rgb(141, 27, 167);
    color: lightgray;
  }
  
  .loading {
    text-align: center;
  }
  
  .notFound {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
    color: rgb(8, 48, 87);
    background-color: rgb(255, 255, 255);
    width: 20rem;
    height: 20rem;
    border-radius: 2rem;
    opacity: 0.6;
    border: 0.3rem groove;
  }
  
  .grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }