.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-size: cover;
    background-position:center ;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 2rem;
    gap: 2rem;
    flex-direction: column;
    min-width: 100vh;
    background-attachment: fixed;
    background-image: url("../../public/space.jpg");
  }

  .controls {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: azure;
    text-align: center;
    margin-bottom: 2rem;
  }

  .input {
    width: 300px;
    height: 4rem;
    padding: 10px;
    border-radius: 10px;
  }
  
  .buttonSearch {
    width: 122px;
    height: 40px;
    height: 3rem;
    border-radius: 8px;
    background-color: rgb(37, 14, 130);
    color: white;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  
  .buttonSearch:hover {
    background-color: rgb(67, 46, 184);
    color: lightgray;
  }
  
  .buttonReset {
    width: 122px;
    height: 3rem;
    border-radius: 8px;
    background-color: rgb(77, 9, 96);
    color: white;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  
  .buttonReset:hover {
    background-color: rgb(141, 27, 167);
    color: lightgray;
  }
  
  .loading {
    text-align: center;
  }
  
  .notFound {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 20rem;
    height: 8rem;
    margin-top: 2rem;
    font-weight: 3;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 1rem;
    opacity: 0.4;
  }
  
  .grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }

  .navControls{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin: 2rem 0;
  }

  .pagination{
    display: flex;
    justify-content: center;
    margin: 2rem 0;
  }

.buttonSearch,
.buttonReset,
.buttonNav {
    padding: 10px 20px;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    user-select: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    color: white;
}

.buttonSearch:hover {
  background: linear-gradient(135deg, #410751, #2e67ab);
  transform: scale(1.03);
}

.buttonReset:hover {
  background: linear-gradient(135deg, #3e3ec0, #3e0351);
  transform: scale(1.03);
}

.buttonNav {
  background: linear-gradient(135deg, #2eb04a, #12b759);
}

.buttonNav:active {
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 114, 255, 0.2);
}

.buttonNav:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}

.pageIndicator {
  font-weight: bold;
  font-size: 1.5rem;
  background-color: white;
  padding: 8px 16px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}